body {
    font-family: sans-serif;
}

.link-nav {
	background-color: cyan;
	font-size: 25px;
}

.link-header {
	background-color: cyan;
	font-size: 40px;
}

.social {
	background-color: green;
	font-size: 80px;
}
